# Composer
/vendor/
composer.lock

# CSFixer
.php-cs-fixer.cache

# PHPUnit
.phpunit.result.cache
coverage.xml

# PHPStan
.phpstan.result.cache

# JetBrains
.idea

#Gecko driver required for spec update
/drivers
