parameters:
    tmpDir: .phpstan.result.cache
    level: 9
    paths:
        - src
        - tests
        - dev
    phpVersion: 80300
    stubFiles:
        - dev/stubs/FacebookWebDriverWebDriverElement.stub
        - dev/stubs/SymfonyComponentDomCrawler.stub
        - dev/stubs/SymfonyPantherDomCrawler.stub
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - 'PHPUnit\Framework\Exception'
            - 'SebastianBergmann\RecursionContext\InvalidArgumentException'
            - 'PrinsFrank\Enums\Exception\InvalidArgumentException'
            - 'PrinsFrank\Enums\Exception\NameNotFoundException'
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
