parameters:
    tmpDir: ./cache/.phpstan.result.cache
    level: 10
    paths:
        - src
        - tests
        - dev
    phpVersion: 80100 # Lowest currently supported version
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - 'PHPUnit\Framework\Exception'
            - 'SebastianBergmann\RecursionContext\InvalidArgumentException'
            - 'PrinsFrank\Enums\Exception\InvalidArgumentException'
            - 'PrinsFrank\Enums\Exception\NameNotFoundException'
            - 'PrinsFrank\Standards\ShouldNotHappenException'
    treatPhpDocTypesAsCertain: false
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
rules:
    - PrinsFrank\Standards\Dev\PHPStan\Rules\SourceTagRule
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
