name: PHPStan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: composer install
      - name: Cache PHPStan
        uses: actions/cache@v3
        with:
          path: ./.phpstan.result.cache
          key: result-cache-${{ github.run_id }}
          restore-keys: |
            result-cache-
      - name: Run PHPStan
        run: php -d memory_limit=4G vendor/bin/phpstan analyse -vv
