name: Shared Spec Update

on:
  workflow_call:
    inputs:
      type:
        required: true
        type: string

jobs:
  update-spec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: composer install

      - name: Run standard update command
        run: composer update-spec-${{ inputs.type }}

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: |
            Automatic ${{ inputs.type }} spec update from upstream changes
          delete-branch: true
          title: |
            Automatic ${{ inputs.type }} spec update
          branch: update-spec/${{ inputs.type }}
          body: |
            This PR makes sure the content of this package is updated with upstream changes in the specs.
          labels: |
            spec-update
            automated pr
          reviewers: prinsfrank
